body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-blue{
    background-color: #03A9F5;
}

.bg-hero{
    background-image: url(../images/bg-hero.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
}

.container{
    display:inline-block;
    width: 100%;
    /* background-color: white; */
    padding: 60px 0 60px 0;
}

    .hero-row{
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px)/2);
        /* background-color: red; */
        text-align: center;
    }

        .hero-row > .logo{
            display: inline-block;
            width: 100%;
            height:60px;
            margin-bottom: 50px;
            object-fit: contain;
            object-position: center;
        }

        .title{
            display: inline-block;
            width:100%;
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 10px;
        }

        .subtitle{
            display: inline-block;
            width:100%;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 60px;
        }

        .clock{
            margin-bottom: 60px;
        }

        .hero-row > form{
            width: 90%;
            margin: 0 5% 0 5%;
            margin-bottom: 20px;
        }

    .row{
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px)/2);
        margin-right: calc((100% - 1000px)/2);

        /* background-color: red; */
    }

        .left-column{
            display: inline-block;
            width: 50%;
            /* background-color: aqua; */
            float:left;

        }
        .right-column{
            display: inline-block;
            width: 40%;
            /* background-color: aquamarine; */
            float:right;
        }

                .column-title{
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 15px;
                }

                .column-p{
                    display: inline-block;
                    width: 100%;
                    font-size: 18px;
                    margin-bottom: 15px;
                }

footer.container{
    text-align: center;
    padding-top: 0;
    font-size:18px;
}

        .socials{
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid white;
            /* background-color: beige; */
            border-bottom: 1px solid #ffffff;
            padding: 10px 0 10px 0;
        }

            .socials > .fa:hover{
                background-color: white;
                color: #03A9F5;
            }

            .socials > .fa{
                color:white;
                text-decoration:none;
                /* padding:10px; */
                /* background-color: red; */
                border-radius: 50%;
                line-height: 40px;
                width: 40px;
                height: 40px;
                margin: 5px;
             }


        .footer-texts{
            display: inline-block;
            width: 600px;
            /* margin-left: calc((100% - 600px)/2); */
            /* margin-right: calc((100% - 600px)/2); */
            /* background-color: yellow; */
            color:#ffffff88;
        }

            .footer-texts > .logo{
                margin-bottom: 30px;
                margin-top: 30px;

            }

            .copyright{
                display: inline-block;
                /* width:100%; */
            }

                .copyright > .text{
                    display: inline-block;
                    float:left;
                }

                .copyright > .text.borders{
                    display: inline-block;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    margin: 0px 10px 0 10px;
                    padding: 0px 10px 0 10px;

                    /* background-color: yellow; */
                    
                }

          
            .footer-texts > p {
                display: inline-block;
                width:100%;
            }

                .footer-texts a {
                    color:white;
                    text-decoration: none;

                }           


        @media (max-width:1100px){
            .row{
                width:800px;
                margin-left: calc((100% - 800px)/2);
                margin-right: calc((100% - 800px)/2);
            }
        }

        @media (max-width:900px){
            .row{
                width:600px;
                margin-left: calc((100% - 600px)/2);
                margin-right: calc((100% - 600px)/2);
            }
            .left-column{
                width: 100%;
                margin-bottom: 60px;
                }
            .right-column{
                width: 100%;
    
            }
    
        }

        @media (max-width:700px){
                .hero-row,                
                .row,
                .footer-texts{
                    width: 400px;
                    margin-left: calc((100% - 400px)/2);
                    margin-right: calc((100% - 400px)/2);
                }
                .copyright>.text{
                    width:100%;
                }
                .copyright > .text.borders{
                    border:none;
                    margin:0;
                }
        }


        @media (max-width:500px){
            .container{
                padding-left:20px;
                padding-right: 20px;
            }
            .hero-row,            
            .row,
            .footer-texts{
                width: 100%;
                margin-left: 0;
                margin-right:0;
            }
        }
