.bg-blue {
    background-color: #03A9F5;
}

.hero-bg {
    background-image: url(../images/bg-hero.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom-center;
}

    .container {
        display: inline-block;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }

        .hero-row {
            display: inline-block;
            width: 600px;
            margin-left: calc((100% - 600px) / 2);
            text-align: center;
            
        }

            .hero-row > .logo {
                display: inline-block;
                height: 40px;
                width: 100%;
                margin-bottom: 20px;
                object-fit: contain;
                object-position: center;
            }

            .title {
                display: inline-block;
                width: 100%;
                text-transform: uppercase;
                font-size: 60px;
                margin-bottom: 10px;
            }

            .subtitle {
                display: inline-block;
                width: 100%;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 60px;
            }

            .clock {
                margin-bottom: 60px;
            }
            .hero-row > .form {
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 20px;

<<<<<<< HEAD
            }
=======
    .row{
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px)/2);
        margin-right: calc((100% - 1000px)/2);

        /* background-color: red; */
    }
>>>>>>> bf3318aad9b8cf153fa661237622b6486780f142



        .rows {
            display: inline-block;
            width: 1000px;
            margin-left: calc((100% - 1000px) / 2);
            margin-right: calc((100% - 1000px) / 2);
            
        }

            .left-column {
                display: inline-block;
                width: 50%;
                float: left;
            }

            .right-column {
                display: inline-block;
                width: 40%;
                float: right;
            }

                .column-title {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 15px;
                }

                .column-p {
                    display: inline-block;
                    width: 100%;
                    font-size: 18px;
                    margin-bottom: 15px;
                }
            
        footer.container {
            text-align: center;
            padding-top: 0px;
        }
        
            .socials {
                display: inline-block;
                width: 100%;
                border-bottom: 1px solid white;
                padding-top: 10px;
                padding-bottom: 10px;
                
            }

<<<<<<< HEAD
            .socials > .fa {
                /* padding: 20px; */
                color: white;
                text-decoration: none;
                line-height: 40px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin: 5px;

            }

            .socials > .fa:hover {
                background-color: white;
                color: #03A9F5;
            }
=======
footer.container{
    text-align: center;
    padding-top: 0;
    font-size:18px;
}

        .socials{
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid white;
            /* background-color: beige; */
            border-bottom: 1px solid #ffffff;
            padding: 10px 0 10px 0;
        }

            .socials > .fa:hover{
                background-color: white;
                color: #03A9F5;
            }

            .socials > .fa{
                color:white;
                text-decoration:none;
                /* padding:10px; */
                /* background-color: red; */
                border-radius: 50%;
                line-height: 40px;
                width: 40px;
                height: 40px;
                margin: 5px;
             }


        .footer-texts{
            display: inline-block;
            width: 600px;
            /* margin-left: calc((100% - 600px)/2); */
            /* margin-right: calc((100% - 600px)/2); */
            /* background-color: yellow; */
            color:#ffffff88;
        }
>>>>>>> bf3318aad9b8cf153fa661237622b6486780f142

            .footer-texts > .logo{
                margin-bottom: 30px;
                margin-top: 30px;

            }

            .copyright{
                display: inline-block;
                /* width:100%; */
            }

                .copyright > .text{
                    display: inline-block;
                    float:left;
                }

                .copyright > .text.borders{
                    display: inline-block;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    margin: 0px 10px 0 10px;
                    padding: 0px 10px 0 10px;

                    /* background-color: yellow; */
                    
                }

          
            .footer-texts > p {
                display: inline-block;
                width:100%;
            }

                .footer-texts a {
                    color:white;
                    text-decoration: none;

                }           

            .footer-texts {
                display: inline-block;
                width: 600px;
                /* margin-left: calc((100% - 600px) / 2); */
                color: #fff8;
                font-size: 16px;
                
            }
    

<<<<<<< HEAD
            .footer-texts > .logo {
                height: 30px;
                margin-bottom: 30px;
                margin-top: 30px;
=======
        @media (max-width:1100px){
            .row{
                width:800px;
                margin-left: calc((100% - 800px)/2);
                margin-right: calc((100% - 800px)/2);
>>>>>>> bf3318aad9b8cf153fa661237622b6486780f142
            }

<<<<<<< HEAD
            .copyright {
                display: inline-block;
                
=======
        @media (max-width:900px){
            .row{
                width:600px;
                margin-left: calc((100% - 600px)/2);
                margin-right: calc((100% - 600px)/2);
>>>>>>> bf3318aad9b8cf153fa661237622b6486780f142
            }

                .copyright > .texts {
                    display: inline-block;
                    float: left;

                }

<<<<<<< HEAD
                .copyright > .texts.borders {
                    display: inline-block;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    margin: 0 10px;
                    padding: 0 10px;
=======
        @media (max-width:700px){
                .hero-row,                
                .row,
                .footer-texts{
                    width: 400px;
                    margin-left: calc((100% - 400px)/2);
                    margin-right: calc((100% - 400px)/2);
                }
                .copyright>.text{
                    width:100%;
                }
                .copyright > .text.borders{
                    border:none;
                    margin:0;
>>>>>>> bf3318aad9b8cf153fa661237622b6486780f142
                }


            .footer-texts > p {
                display: inline-block;
                width: 100%;
<<<<<<< HEAD

            }

            .footer-texts a {
                color: white;
                text-decoration: none;

            }



            

            /* dizaina adaptuosim mazesniam ekrano plociui,
                mazesniam prietaisui. */
 
                @media (max-width: 1100px) {

                    .rows {
                        width: 800px;
                        margin-left: calc((100% - 800px) / 2);
                        margin-right: calc((100% - 800px) / 2);
                    }
                    
                }
        
                @media (max-width: 900px) {
        
                    .rows {
                        width: 600px;
                        margin-left: calc((100% - 600px) / 2);
                        margin-right: calc((100% - 600px) / 2);
                    }
                    
                    .left-column {
                        width: 100%;
                        margin-bottom: 60px;
                    }
        
                    .right-column {
                        width: 100%;
                    }
                } 
                

        
                @media (max-width: 700px) {
                    .hero-row,
                    .rows,
                    .footer-texts {
                        width: 400px;
                        margin-left: calc((100% - 400px) / 2);
                        margin-right: calc((100% - 400px) / 2);
                        
                    }
                    
                    .copyright > .texts {
                        width: 100%;
                    }
                    .copyright > .texts.borders {
                        border: none;
                        margin: 0px;
                        
                    }

                }

                @media (max-width: 500px) {
                    .container {
                            padding-left: 20px;
                            padding-right: 20px;
                    }
                    .hero-row,
                    .rows
                    .footer-texts {
                        width: 100%;
                        margin-left: 0px;
                        margin-right: 0px;
                    }

                }

        /*  paskutinis dydis kuriam reikia pritaikyti yra width 320px */
=======
                margin-left: 0;
                margin-right:0;
            }
        }
>>>>>>> bf3318aad9b8cf153fa661237622b6486780f142
