.mouse{
    display: inline-block;
    width: 26px;
    height: 38px;
    border: 3px solid white;
    border-radius: 13px;
    /* background-color: yellow; */
    /* padding-top: 40px; */
    position:relative;
}

.mouse > .wheel{
    display: inline-block;
    width: 3px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%, 0);
    height:6px;
    background-color: white;
    border-radius: 8px;
    /* margin-top: 40px; */
    animation-name: scrolling;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

/* .mouse > .wheel:hover{
    animation-play-state: paused;
} */

@keyframes scrolling {
    /* kai bus 0% nurodyto laiko */
    0%{
        /* top: 40px; */
        background-color: white;
        transform: translate(-50%, 0);
    }
    50%{
        opacity: 1;
    }
    100%{
        /* top:25px; */
        opacity:0;
        transform: translate(-50%, 200%);
        /* background-color: #fff0;
        galima ir su opacity padaryti */
        /* background-color: transparent; */
    }
}